body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sweetsAttr {
  background-color: aquamarine;
  width: 120px;
}

.sweetsAttr {
  border: 1px solid rgb(78, 30, 167);
  background-color: sweetsmarine;
  width: 300px;
  float: left;
  padding-left: 10px;
}
.def {
  float: right;
}
h1 {
  background-color: rgb(28, 107, 160);
  color: rgb(156, 196, 45);
}
